/* google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* reset style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
img{
    max-width: 100%;
}

/* common color */
.common-button{
    background-color: #FD6E0A;
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    border: none;
    cursor: pointer;
}
.outline-button{
    background-color: white;
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 22px;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    cursor: pointer;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}

header{
    background-color: #FFF8F3;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0px;
}
.logo{
    font-weight: bold;
    font-size: 2rem;
}
.color{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 10px;
}
ul li a{
    text-decoration: none;
    color: #474747;
}

/* hero section style */
.hero-parent-root{
    background-color: #FFF8F3;
}
.hero-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-left h3{
    font-weight: bold;
    font-size: 2rem;
    color: #474747;
    margin-bottom: 1rem;
}
.hero-left h1{
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
.hero-left p{
    color: #474747;
}

.hero-left-btn-parent{
    margin-top: 0.9rem;
}


/* about style */

.about-parent{
    background-color:#fff8f3;
    margin: 70px auto;
    padding: 75px;
    text-align: center;
    border-radius: 10px;
}

.about-parent p{
    margin: 10px 0;
    font-size: 1.2rem;
    color: #474747;
}

.about-box-parent{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
.about-box-parent .box{
    background-color: #f3e5da59;
    padding: 15px;
    border-radius: 5px;
}

/* what i do section */
.what-i-do-parent{
    margin: 60px auto;
    text-align: center;
}
.what-i-do-card-container{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.what-i-do-card-container .what-i-do-card{
    /* border: 1px solid tomato; */
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 0 30px #8f8d8d57;
}
.what-i-do-card-container .what-i-do-card h2{
    margin: 10px auto;
}
.what-i-do-card-container .what-i-do-card p{
    color: #757575;
    font-size: 15px;
}
